<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/colorthief@2.3.2/dist/color-thief.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Sentiment Analysis of Movie Reviews</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <h3>Sentiment Analysis of Movie Reviews</h3>
      </div>
      <div class="main-container">
        {% block content %}
        <h2>Popular movies</h2>
        <div class="movie">
          <div class="card-container">
            {% for movie in movies.values() %}
            <div
              class="card"
              value="{{movie.id}}"
              style="background-image: url('https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}');"
            >
              <div class="card-text">
                <div class="bold">{{movie.title}}</div>
                <div id="date">{{movie.release_date}}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </body>

  <script>
    var cardTextElements = document.querySelectorAll(".card");

    cardTextElements.forEach(function (cardTextElement) {
      cardTextElement.addEventListener("click", function () {
        movie_id = cardTextElement.getAttribute("value");
        console.log(movie_id);
        window.location.href = "/movie/" + movie_id;
      });
    });
  </script>
</html>
